<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - kingsley website!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="page">
      <nav>
        <div class="nav__group colour-block--red">
          <a href="/" class="nav__title">kingsley website :D</a>
        </div>
        {% for group in navbar.values() %}
        <div class="nav__group colour-block--{{ group.colour }}">
          <a href="#" class="nav__title">{{ group.title }}</a>
          <ul>
            {% for page, page_url in group.pages.items() %}
            <li><a href="{{ page_url }}">{{ page }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
        <div class="nav__group colour-block--grey">
          <a href="https://github.com/skrungly/kingsley-website" class="nav__title">source</a>
        </div>
      </nav>
      <main class="colour-block--{{ content_colour }}">
        {% block content %}{% endblock %}
      </main>
    </div>
  </body>
</html>
