<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }} - kingsley's things</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <nav class="sidebar">
        <ul>
          <li class="category red">
            <h4>kingsley website :D</h4>
          </li>
          <li class="category purple">
            <h4>photography</h4>
            <ul>
              <li><a href="#">gallery</a></li>
              <li><a href="#">equipment</a></li>
            </ul>
          </li>
          <li class="category blue">
            <h4>cubing</h4>
            <ul>
              <li><a href="#">progress</a></li>
            </ul>
          </li>
          <li class="category teal">
            <h4>services</h4>
            <ul>
              <li><a href="#">osu!</a></li>
              <li><a href="#">minecraft</a></li>
            </ul>
          </li>
          <li class="category green">
            <h4>other</h4>
            <ul>
              <li><a href="#">uhhhhhh</a></li>
            </ul>
          </li>
        </ul>
      </nav>
      <div class="content purple">
        <h2>gallery</h2>
      </div>
    </div>
  </body>
</html>
