{% extends "base.html" %}

{% block content %}
<section>
  <h2>cameras</h2>
  <p>
    many of my best photos are taken with my dedicated digital cameras but i
    often have the most fun when using more restrictive methods, such as the
    simple camera on my nintendo DSi. i'd like to get my hands on a 35mm film
    camera so that i can try a more thoughtful approach to photography!
  </p>
  <p>
    almost all of the photos in my <a href="/photography/gallery">gallery</a>
    were taken with one of these cameras:
  </p>
</section>

<section>
  <div class="container">
    <figure>
      <h3>nikon D5100</h3>
      <img src="{{ url_for('static', filename='assets/d5100.jpg') }}">
      <figcaption>nikon d5100 with the 500mm walimex lens</figcaption>
    </figure>
    <div class="header-offset">
      <p>
        this is my camera of choice when photography is the primary focus for a
        day out, since it's too bulky to carry around every day. i have three
        main lenses which provide me with a decent range of capabilities:
      </p>
      <ul>
        <li>nikkor 18-55mm f/3.5-5.6G ED II (kit lens)</li>
        <li>sigma 70-300mm f4-5.6 DG macro (equivalent to 105-450mm)</li>
        <li>walimex 500mm f/8.0 (equivalent to 750mm)</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <figure>
      <h3>canon ixus 185</h3>
      <img src="{{ url_for('static', filename='assets/ixus185.jpg') }}">
      <figcaption>canon ixus 185 in macro on a circuit board</figcaption>
    </figure>
    <div class="header-offset">
      <p>
        a lot of my best photos have been taken on this tiny camera because i
        always keep it on hand. its focal range is pretty decent, equivalent to
        28&#8209;224mm on a 35mm sensor like the one above, but it has fairly
        limited manual controls. being able to focus as near as 1&nbsp;cm on a
        20&nbsp;MP sensor gives rise to some highly detailed macro shots!
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <figure>
      <h3>nintendo DSi</h3>
      <img src="{{ url_for('static', filename='assets/dsi.jpg') }}">
      <figcaption>the camera of my modified nintendo DSi</figcaption>
    </figure>
    <div class="header-offset">
      <p>
        the nintendo DSi has a very simplistic point-and-shoot camera system
        with a 0.3&nbsp;MP sensor behind it, producing photos with a unique
        digital aesthetic. it has a decent selection of effects but,
        unsurprisingly, very few of them are useful for taking actual photos.
        my main DSi has a modified enclosure which i made by swapping parts
        between two separate black and white consoles.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
