{% extends "base.html" %}

{% block content %}
<h2>gallery</h2>
<p>here are some of the pictures i've taken :)</p>
<h3>pictures taken on a DSi</h3>
<div class="gallery">
  <div class="gallery__row">
    <img src="{{ url_for('static', filename='gallery/HNI_0042.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0039.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0041.JPG') }}">
  </div>
  <div class="gallery__row">
    <img src="{{ url_for('static', filename='gallery/HNI_0028.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0029.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0030.JPG') }}">
  </div>
  <div class="gallery__row">
    <img src="{{ url_for('static', filename='gallery/HNI_0031.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0044.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0048.JPG') }}">
  </div>
  <div class="gallery__row">
    <img src="{{ url_for('static', filename='gallery/HNI_0022.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0023.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0024.JPG') }}">
  </div>
  <div class="gallery__row">
    <img src="{{ url_for('static', filename='gallery/HNI_0025.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0026.JPG') }}">
    <img src="{{ url_for('static', filename='gallery/HNI_0027.JPG') }}">
  </div>
</div>
{% endblock content %}
